* {
  box-sizing: border-box;
}

/* style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
/* navbar style */
.navbar {
  overflow: hidden;
  background-color: #403F3D;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: #fffdf4aa;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
  color: #FFFDF4;
}

.navbar a:hover {
  color: #FFFDF4;
}

.navbar a.active {
  color: #FFFDF4;
}
/* navbar style end */

/* left side container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  -ms-flex: 5%; /* IE10 */
  flex: 5%;
  background-color: #f1f1f1a3;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* image style */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 15px;
  text-align: center;
  background: #403F3D;
  color: #fffdf4aa;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
/* table style */
.tabelBergaris {
  border: 1px solid black;
  border-collapse : collapse;
  width : 50%;
  vertical-align:center;
  text-align:left;
  font-size: 15px;
  }
  .tabelBergaris th {
  border:solid 1.5px black
  }
  .tabelBergaris th {
  background-color: #f2ecc4;
  }
  .tabelBergaris td {
  border: solid 1.5px black;
  vertical-align:left;
  text-align:left;
  }		