* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono';
  font-size: 22px;
  color: black;
}

.navbar {
  background-color: black;
  color: white;
  font-size: 10px;
}

.img-fluid {
  justify-content: center;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: rgba(255, 255, 255, 0.914);
  font-style: bold;
  text-decoration: none;
}

.paragraph {
  font-size: 15px;
  padding-top: 60px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.dropdown-menu a:hover {
  color: rgba(255, 255, 255, 0.741);
  background-color: black;
}



.container-atas {
  padding: 75px 10px 5px 10px;
  /* top right bottom left  */
  background-color: white;
  text-align: justify;
  border-bottom: 50px;
  border-color: black;
}

.row {
  font-size: 14px;
  width: 100%;
}

.disstance {
  background-color: black;
  width: 100%;
  height: 5px
}

.disstance2 {
  background-color: black;
  width: 100%;
  height: 10px
}

.dropdown-item {
  font-size: 14px;
  padding-left: 20px;
}

.dropdown-menu {
  background-color: black;
  padding-left: 0px;
  width: 200px;
}

.nav-link {
  font-size: 14px;
}

.mid-navbar {
  text-transform: capitalize;
  font-size: 25px;
  padding-right: 25px;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

.right-navbar {
  font-size: 14px;
  padding-right: 15px;
}

.margin2left {
  font-size: 20px;
  margin-left: 33px;
  margin-top: 10px;
}

.margin2right {
  font-size: 14px;
  margin-top: 17px;
  margin-right: -5px;
  margin-left: 175px;
  text-align: right;
}

.foooter {
  position: relative;
  background-color: black;
  font-size: 15px;
  color: white;
  padding-bottom: 0px;
  text-align: center;
}

.foooter p {
  font-size: 13px;
  color: white;
  margin-top: 10px;
}

.foooter a {
  color: white;
  font-size: 80px;
  margin-bottom: 0px;
}

.foooter a:hover {
  text-decoration: none;
}

.socialmedia {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 0px;
}

.socialmedia li a {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.784);
  text-transform: uppercase;
}

.socialmedia li a:hover {
  color: white;
  font-size: 10px;
}

.socialmedia>* {
  padding-left: 10px;
  padding-right: 10px;
}

.afterimage {
  background-color: white;
  font-size: 14px;
  padding-top: 10px;
}

.content1 {
  font-size: 10px;
  padding-bottom: 10px;
}

.content2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 30px;
}

.content6 {
  padding-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 20px;
}

.content7 {
  font-weight: bold;
  padding-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  font-style: italic;
}

.content3 {
  padding-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  font-style: italic;
}

.content4 {
  font-size: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}

.content4 a {
  font-size: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  color: blue;
}

.content5 {
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 20px;
  padding-bottom: 10px;

}

.content8 ul {
  font-size: 150px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 20px;
  padding-bottom: 10px;

}

.recipe {
  font-size: 500px;
}

.navbar-right {
  padding-right: 10px;
}

.img-fluid {
  margin-left: 2px;
}